{% extends "base.html" %}

{% block content %}
<h2>Editar Material</h2>
<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Modificar datos del material</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Código</label>
                        <input type="text" class="form-control" name="codigo" required value="{{ material['codigo'] }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" required value="{{ material['nombre'] }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descripción</label>
                        <textarea class="form-control" name="descripcion" rows="2">{{ material['descripcion'] }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Unidad de Medida</label>
                        {# <input type="text" class="form-control" name="unidad_medida" required value="{{ material['unidad_medida'] }}"> #}
                        <select class="form-select" name="unidad_medida" required value="{{ material['unidad_medida'] }}">
                            <option value="Unidad(es)">Unidad(es)</option>
                            <option value="Kilo(s)">Kilo(s)</option>
                            <option value="Litro(s)">Litro(s)</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Stock Mínimo</label>
                        <input type="number" class="form-control" name="stock_minimo" required value="{{ material['stock_minimo'] }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a href="{{ url_for('materiales') }}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}